:root {
  --pinkshade: #efdbce;
  --white: #fff;
  --greenshade: #175c4c;
  --greenfont: #46ad95;
  --heading: deeppink;
  --fontshade: #00cc76;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--white);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.logo {
  width: 200px;
  height: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: fit-content;
  background-color: var(--pinkshade);
  border-bottom: 4px solid var(--white);
  padding: 0.5em calc(100% - 90vw);
  top: 0;
}

.navbar > ul {
  display: flex;
  gap: 3em;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > a {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #46ad95;
  font-family: Merriweather;
  font-weight: 700;
}

section,
footer {
  padding: 0 calc(100% - 90vw);
}

.hero {
  display: flex;
  height: 60vh;
  background-color: var(--pinkshade);

  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: 95px;
}

.hero-cta {
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-cta .hero-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--greenfont);
}

.hero-cta .hero-subtitle {
  font-size: 2rem;
  font-weight: 300;
}

.hero-cta .hero-text {
  font-size: 1.2rem;
  width: 500px;
}

.hero-img {
  width: 100%;
  flex: 1;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;

  text-transform: uppercase;
}

button {
  padding: 10px 40px;
  background-color: var(--greenfont);
  color: var(--white);
  border: none;
  width: 250px;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
}

.forte {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
}

.forte .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.item img {
  width: 140px;
}

.item .premium {
  margin-top: 13px;
}

.alterations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: azure;
  padding: 2em 0;
}

.process {
  display: flex;
  width: calc(100% - 10vw);
  justify-content: space-evenly;
}

.process .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 1em;
  text-align: center;
}

.process .item h3 {
  font-weight: 400;
  color: var(--heading);
}

.alterations .info {
  color: var(--heading);
  text-align: center;
}

.info h2 {
  font-size: 2rem;
}

.info h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.testimonials {
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
  align-items: flex-start;
}

.reviews {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.review {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: dimgray;
  flex-basis: 1;
}

.review::after {
  content: ' "';
}

.review::before {
  content: '" ';
}

.author {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  flex-basis: 1;
}

.author::before {
  content: "- ";
}
