/* css reset */

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--white);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* css reset */

:root {
  --pinkshade: #efdbce;
  --white: #fff;
  --greenshade: #175c4c;
  --greenfont: hsl(166, 42%, 48%);
  --heading: deeppink;
  --fontshade: #00cc76;
}

.logo {
  width: 200px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: fit-content;
  background-color: var(--pinkshade);
  border-bottom: 4px solid var(--white);
  padding: 0.5em calc(100% - 90vw);
  top: 0;
  gap: 1.5em;
  flex-wrap: wrap;
  padding: 1em;
}

.navbar {
  margin-left: auto;
}

.navbar > ul {
  display: flex;
  gap: 1.5em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li > a {
  font-size: 1.2rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: #46ad95;
  font-family: Merriweather;
  font-weight: 700;
  padding: 3px 8px;
  border-radius: 5px;
}

a:hover {
  background-color: white;
  color: lightslategray;
}

.hero {
  display: flex;
  width: 100%;
  background-color: var(--pinkshade);
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
  flex-wrap: wrap;
  padding: 50px;
}

.hero-cta {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  /* margin-top: 100px; */
}

.hero-cta .hero-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--greenfont);
}

.hero-cta .hero-subtitle {
  font-size: 2rem;
  font-weight: 300;
}

.hero-cta .hero-text {
  font-size: 1.2rem;
  max-width: 500px;
}

.hero-img {
  max-width: 600px;
  min-width: 300px;
  border: 2px solid var(--greenfont);
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;

  text-transform: uppercase;
}

button {
  padding: 10px 40px;
  background-color: var(--greenfont);
  color: var(--white);
  border: none;
  width: 250px;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
}

.forte {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  gap: 30px;
  flex-wrap: wrap;
  /* max-width: 1200px; */
}

.forte .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.item img {
  max-width: 140px;
  min-width: 70px;
}

.item .premium {
  margin-top: 13px;
}

.alterations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: azure;
  padding: 3em 0;
}

.process {
  display: flex;
  width: calc(100% - 10vw);
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.process .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 1em;
  text-align: center;
}

.process .item h3 {
  font-weight: 400;
  color: var(--heading);
}

.alterations .info {
  color: var(--heading);
  text-align: center;
}

.info h2 {
  font-size: 2rem;
}

.info h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.testimonials {
  display: flex;
  justify-content: space-evenly;
  padding: 3em calc(100% - 90vw);
  align-items: flex-start;
  background-color: #f3ecef;
  gap: 3em;
  flex-wrap: wrap;
}

.reviews {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  /* margin-top: 60px; */
}
.review {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #1f2937;
  flex: 1 1 0;
}

.review::after {
  content: ' "';
}

.review::before {
  content: '" ';
}

.author {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  align-self: center;
}

.author::before {
  content: "- ";
}

.contact {
  background-color: dimgray;
  color: var(--white);
}

.contact h2 {
  text-align: center;
  padding-bottom: 10px;
}
.contact p {
  text-align: justify;
}

form {
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2em;
}

input,
textarea {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 2em;
  background-color: var(--white);
  border: none;
  color: black;
  font-size: 1rem;
}

label {
  display: block;
  margin: 0.5rem 0;
}

form button {
  margin: 15px auto 0 auto;
  display: block;
}

footer {
  height: 50px;
  width: 100%;
  background-color: var(--pinkshade);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fontshade);
}

@media screen and (max-width: 900px) {
  .hero-cta {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .hero-cta .hero-title {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--greenfont);
  }

  .hero-cta .hero-subtitle {
    font-size: 1rem;
    font-weight: 300;
  }

  .hero-cta .hero-text {
    font-size: 1rem;
    max-width: 500px;
  }

  button {
    padding: 7px 28px;
    background-color: var(--greenfont);
    color: var(--white);
    border: none;
    width: 150px;
    font-size: 1rem;
    font-family: "Merriweather", serif;
  }

  .reviews {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}
